In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("new_pullreq.csv")

In [3]:
df

,id,project_id,github_id,pull_request_id,ownername,reponame,merged_or_not,lifetime_minutes,mergetime_minutes,num_commits,...,other_comment,num_comments_con,num_code_comments,num_code_comments_con,integrator_availability,friday_effect,contrib_rate_author,reopen_or_not,first_close_minutes,reopen_num
0,1,13708387,1895,16946031,stylelint,stylelint,1,237,237.0,1,...,0,0,0,0,30.0,1,0.007948,0,237,0
1,2,100297899,353,51228565,Joaogarciadelima,checklistos,0,1410,NaN,1,...,0,2,0,0,597.0,0,0.830769,0,1410,0
2,3,93139005,404,42975776,binary-com,SmartCharts,1,4,4.0,1,...,0,0,0,0,2.0,0,0.314368,0,4,0
3,4,15059440,3434,34700062,letsencrypt,boulder,1,52,52.0,1,...,0,0,0,0,1.0,0,0.117332,0,52,0
4,5,29684214,486,34175163,PyCQA,astroid,1,2414,2414.0,1,...,0,0,0,0,2.0,0,0.010753,0,2414,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3347932,3347933,30544060,258,25263316,Kronos-Integration,kronos-service-consul,1,9,9.0,1,...,0,0,0,0,2537.0,0,0.696970,0,9,0
3347933,3347934,1142,27876,9812944,saltstack,salt,0,1165,NaN,1,...,0,1,0,0,42.0,0,0.056849,0,1165,0
3347934,3347935,31499094,444,19063491,mjmlio,mjml,1,8834,8834.0,2,...,0,8,0,0,597.0,0,0.002041,0,8834,0
3347935,3347936,55317,651,2087506,zotonic,zotonic,0,703,NaN,7,...,0,0,0,0,10.0,0,0.000732,0,703,0
3347936,3347937,5660659,310,27871263,ikasanEIP,ikasan,1,44,44.0,29,...,0,2,1,1,332.0,0,0.208889,0,44,0

In [4]:
columns = df.columns.to_list()
print(columns)

['id', 'project_id', 'github_id', 'pull_request_id', 'ownername', 'reponame', 'merged_or_not', 'lifetime_minutes', 'mergetime_minutes', 'num_commits', 'src_churn', 'test_churn', 'files_added', 'files_deleted', 'files_modified', 'files_changed', 'src_files', 'doc_files', 'other_files', 'num_commit_comments', 'num_issue_comments', 'num_comments', 'num_participants', 'sloc', 'team_size', 'perc_external_contribs', 'commits_on_files_touched', 'test_lines_per_kloc', 'test_cases_per_kloc', 'asserts_per_kloc', 'watchers', 'prev_pullreqs', 'requester_succ_rate', 'followers', 'churn_addition', 'churn_deletion', 'pr_comment_num', 'comment_num', 'perc_neg_emotion', 'perc_pos_emotion', 'perc_neu_emotion', 'part_num_issue', 'part_num_commit', 'part_num_pr', 'part_num_code', 'comment_conflict', 'hash_tag', 'at_tag', 'test_inclusion', 'description_length', 'bug_fix', 'ci_exists', 'ci_latency', 'ci_build_num', 'ci_test_passed', 'ci_failed_perc', 'ci_first_build_status', 'ci_last_build_status', 'language', 'fork_num', 'project_age', 'open_issue_num', 'pr_succ_rate', 'open_pr_num', 'first_response_time', 'pushed_delta', 'acc_commit_num', 'first_pr', 'account_creation_days', 'core_member', 'contrib_gender', 'contrib_country', 'contrib_affiliation', 'contrib_open', 'contrib_cons', 'contrib_extra', 'contrib_agree', 'contrib_neur', 'perc_contrib_neg_emo', 'perc_contrib_pos_emo', 'perc_contrib_neu_emo', 'contrib_first_emo', 'prior_review_num', 'inte_country', 'inte_affiliation', 'inte_open', 'inte_cons', 'inte_extra', 'inte_agree', 'inte_neur', 'perc_inte_neg_emo', 'perc_inte_pos_emo', 'perc_inte_neu_emo', 'inte_first_emo', 'contrib_follow_integrator', 'prior_interaction', 'social_strength', 'same_country', 'same_affiliation', 'open_diff', 'cons_diff', 'extra_diff', 'agree_diff', 'neur_diff', 'has_comments', 'has_participants', 'has_exchange', 'contrib_comment', 'inte_comment', 'reviewer_comment', 'other_comment', 'num_comments_con', 'num_code_comments', 'num_code_comments_con', 'integrator_availability', 'friday_effect', 'contrib_rate_author', 'reopen_or_not', 'first_close_minutes', 'reopen_num']

In [20]:
contributor_char = df[['acc_commit_num', 'first_pr', 'core_member',
                        'contrib_gender', 'same_country', 'same_affiliation',
                        'social_strength', 'account_creation_days',
                        'first_response_time', 'contrib_country',
                        'prior_interaction', 'contrib_affiliation', 'perc_external_contribs',
                        'contrib_first_emo', 'contrib_follow_integrator']]
project_char = df[['language', 'project_age', 'pushed_delta',
                    'pr_succ_rate', 'open_issue_num', 'open_pr_num', 'fork_num']]
pull_req_char = df[['churn_addition', 'bug_fix', 'test_inclusion',
                    'hash_tag', 'at_tag', 'part_num_issue', 'part_num_commit', 
                    'part_num_pr', 'part_num_code','ci_exists', 'ci_latency',
                    'ci_test_passed', 'ci_failed_perc', 'churn_deletion',
                    'description_length', 'comment_conflict', 'pr_comment_num',
                    'part_num_code', 'ci_build_num', 'perc_inte_neg_emo', 'perc_inte_pos_emo',
                    'perc_inte_neu_emo','ci_first_build_status', 'ci_last_build_status']]

In [34]:
contributor_char.head(4)

,acc_commit_num,first_pr,core_member,contrib_gender,same_country,same_affiliation,social_strength,account_creation_days,first_response_time,contrib_country,prior_interaction,contrib_affiliation,perc_external_contribs,contrib_first_emo,contrib_follow_integrator
0,28,0,0,NaN,NaN,NaN,0.000000,353,237.0,NaN,28,NaN,0.089869,NaN,0
1,432,0,1,NaN,NaN,NaN,0.250000,1092,NaN,NaN,300,NaN,0.014019,NaN,0
2,652,0,1,male,1.0,NaN,0.428571,1884,NaN,malaysia,505,NaN,0.256849,NaN,0
3,1050,0,1,male,NaN,NaN,0.138889,3489,NaN,canada,460,NaN,0.014706,NaN,1

In [35]:
for column in contributor_char.columns.tolist():
    print(column, "has ", contributor_char[column].isnull().sum(), "null values.")

acc_commit_num has  0 null values.
first_pr has  0 null values.
core_member has  0 null values.
contrib_gender has  694396 null values.
same_country has  2238549 null values.
same_affiliation has  2707224 null values.
social_strength has  250 null values.
account_creation_days has  0 null values.
first_response_time has  1700048 null values.
contrib_country has  1874929 null values.
prior_interaction has  0 null values.
contrib_affiliation has  2496936 null values.
perc_external_contribs has  4071 null values.
contrib_first_emo has  2259030 null values.
contrib_follow_integrator has  0 null values.

In [22]:
project_char.head(3)

,language,project_age,pushed_delta,pr_succ_rate,open_issue_num,open_pr_num,fork_num
0,JavaScript,21,196583.0,0.978469,52,25,140
1,Python,6,9.0,1.000000,1,7,1
2,JavaScript,6,5743.0,0.996324,0,10,11

In [36]:
for column in project_char.columns.tolist():
    print(column, "has ", project_char[column].isnull().sum(), "null values.")

language has  0 null values.
project_age has  0 null values.
pushed_delta has  20542 null values.
pr_succ_rate has  10203 null values.
open_issue_num has  0 null values.
open_pr_num has  0 null values.
fork_num has  0 null values.

In [23]:
pull_req_char.head(3)

,churn_addition,bug_fix,test_inclusion,hash_tag,at_tag,part_num_issue,part_num_commit,part_num_pr,part_num_code,ci_exists,...,description_length,comment_conflict,pr_comment_num,part_num_code,ci_build_num,perc_inte_neg_emo,perc_inte_pos_emo,perc_inte_neu_emo,ci_first_build_status,ci_last_build_status
0,0,NaN,0,1,0,1,0,0,0,1.0,...,4926,0,0,0,1.0,0.0,0.0,1.0,success,success
1,0,NaN,0,0,0,1,0,0,0,1.0,...,1312,0,0,0,1.0,0.0,0.0,0.0,failure,failure
2,0,NaN,0,0,0,0,0,0,0,1.0,...,4,0,0,0,1.0,0.0,0.0,0.0,success,success

In [37]:
for column in pull_req_char.columns.tolist():
    print(column, "has ", pull_req_char[column].isnull().sum(), "null values.")

churn_addition has  0 null values.
bug_fix has  3324411 null values.
test_inclusion has  0 null values.
hash_tag has  0 null values.
at_tag has  0 null values.
part_num_issue has  0 null values.
part_num_commit has  0 null values.
part_num_pr has  0 null values.
part_num_code has  part_num_code    0
part_num_code    0
dtype: int64 null values.
ci_exists has  2683 null values.
ci_latency has  1800437 null values.
ci_test_passed has  1800437 null values.
ci_failed_perc has  1800437 null values.
churn_deletion has  0 null values.
description_length has  0 null values.
comment_conflict has  0 null values.
pr_comment_num has  0 null values.
part_num_code has  part_num_code    0
part_num_code    0
dtype: int64 null values.
ci_build_num has  1800437 null values.
perc_inte_neg_emo has  3800 null values.
perc_inte_pos_emo has  3800 null values.
perc_inte_neu_emo has  3800 null values.
ci_first_build_status has  1800437 null values.
ci_last_build_status has  1800437 null values.